<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página sobre nós</title>
  </head>
  <body>
    <h3>Página não encontrada</h3>
    <main>
      <img 
      src="https://img.freepik.com/free-vector/error-404-concept-landing-page_23-2148237748.jpg?w=826&t=st=1727952066~exp=1727952666~hmac=3e93ef84d6dd09cf283d909ac200fe6e0a3e7b551576b2776bd441202dff1817"
      alt="">
    </main>
  </body>
</html>
