<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documento</title>
    <link rel="stylesheet" href="../../public/styles/global.css" />
  </head>
  <body>
    <nav class="menu">
      <img
        src="https://img.freepik.com/vetores-gratis/vetor-de-gradiente-de-logotipo-colorido-de-passaro_343694-1365.jpg"
        class="logo"
      />
      <ul>
        <a href="/contato">Contato</a>
        <a href="/about">Sobre</a>
        <a class="btn_Logar" href="/login">Login</a>
      </ul>
    </nav>
  </body>
</html>
